html {
    background-color: darkblue;
}

body {
    background-color: beige;
    width: 90%;
    margin: auto;
    margin-top: 48px;
    padding: 10px;

    h1 {
        font-size: 3em;
        text-align: center;
        border-bottom: 2px solid darkcyan;
        padding: 10px 0;
    }
}

#movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    border: 1px solid darkcyan;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: auto;
    background-color: #deffff;

    h2 {
        font-size: 1.2em;
        color: #014a4a;
        margin: 6px 0;
        font-weight: bold;
    }

    p {
        margin: 4px 0;
    }
}

.form-group__container {
    display: flex;
    flex-direction: column;
    border: 1px solid darkcyan;
    border-radius: 5px;
    width: 400px;
    gap: 12px;
    padding: 15px;
    margin: 20px auto;
    justify-content: center;
    background-color: aquamarine;

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label {
            margin-bottom: 4px;
        }

        button:hover {
            background-color: darkgray;
            cursor:pointer;
        }
    }

    button {
        width: 200px;
        margin: 0 auto;
    }
}